<!DOCTYPE html>
<html>
<head>
	<title>Point</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/logged.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
    <div class="navbar navbar-custom navbar-fixed-top">
     <div class="navbar-header"><a class="navbar-brand" href="/maps">Point</a>
          <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/logged">Home</a></li>
            <li><a href="/logout">Log Out</a></li>
          </ul>
        </div>
    </div>

    <div class="container">
      <div class="row">
        <div class=".col-md-8">
          <table class="table">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Data-Horário</th>
                <th>Status</th>
                <th>Resposta</th>
              </tr>
            </thead>
            <tbody>
              {% for item in listReservations %}
                <tr>
                  <td id="name_{{item.id}}">{{item.name}}</td>
                  <td id="email_{{item.id}}">{{item.email}}</td>
                  <td id="dateTime_{{item.id}}">{{item.dateTime}}</td>
                  <td id="status_{{item.id}}">{{item.status}}</td>
                  <td>
                    <button class="btn btn-primary accept" value="{{item.id}}">Accept</button>
                    <button class="btn btn-danger reject" value="{{item.id}}">Reject</button>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="/static/js/reserva.js"></script>
</body>
</html>