<!DOCTYPE html>
<html>
<head>
	<title>Point</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/logged.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
    <div class="navbar navbar-custom navbar-fixed-top">
     <div class="navbar-header"><a class="navbar-brand" href="#">Point</a>
          <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/reserva">Reservas</a></li>
          </ul>
        </div>
    </div>

    <div class="container">
      <div class="row">
        <div class=".col-md-8">
          <table class="table">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Data</th>
                <th>Horário</th>
                <th>Status</th>
                <th>Resposta</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Patrick</td>
                <td>pck1993@gmail.com</td>
                <td>22/05/2014</td>
                <td>17:00</td>
                <td>Pendente</td>
                <td>
                  <button class="btn btn-primary">Accept</button>
                  <button class="btn btn-danger">Reject</button>
                </td>
              </tr>
              <tr>
                <td>Sergio</td>
                <td>pck1993@gmail.com</td>
                <td>22/05/2014</td>
                <td>17:00</td>
                <td>Pendente</td>
                <td>
                  <button class="btn btn-primary">Accept</button>
                  <button class="btn btn-danger">Reject</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</body>
</html>